
.formulario {
    background-color: aquamarine;
    width: 75%;
    padding: 2rem;
    border: 2px solid rgb(238, 248, 100);
    margin: -15rem auto 0 auto;
    
}
.FondoInscrip {
    background-image: url(../Multimedia/FondoInscr.jpg);
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
}
*{  /* Usar todo el espacio de la pagina  */
    margin:0; padding:0;
}

label {
    flex: 0 0 9rem;
    text-align: right;
}

.CampoText {
    flex: 1;
    border: 1px solid gray;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
body {
    font-family: 'Bangers';
    font-size: 1.9rem;
    line-height: 2.7;
}
.BotonCred{
    color: red;
    background-color: yellow;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2rem 0 2rem 0;
    border: none;
    width: 100%;
}

a {
    text-decoration: none;
}
.CampoText{
    width:40%;
    padding: 5px;
}
#main{
    justify-content:end;
}