:root {
    --fuenteHeading: 'Bangers', cursive;

    --primario: #e41212;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.6rem;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
}

/** Globales **/

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.titulo{
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
.centrado {
    margin-left: auto;
    margin-right: auto;
}

/** Header **/
.webp .header {
    background-image: url(../img/banner1.webp);
}
.no-webp .header {
    background-image: url(../img/banner1.jpg);
}

.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}
.header_texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
.barra {
    padding-top: 5rem;
}
.logo {
    color: var(--blanco);
}
.logo-img {
    width: 200px;
    height: 150px;
}

.navegacion_enlace {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--blanco);
    padding: 2rem;
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}
.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    align-items: center;
    justify-content: center;
}

.boton:hover {
    cursor: pointer;
}
.boton--primario {
    background-image: radial-gradient(circle at 94.83% 18.61%, #fc6848 0, #f24f43 25%, #e2283c 50%, #d10037 75%, #c40037 100%);
}
.boton--secundario {
    background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
}

/** Tabla de contenido de Nuestra comunidad **/
.cont {
    list-style: none;
}
.widget-cont {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-cont:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-footer-cont_info {
    font-weight: normal;
    font-size: 1.5rem;
}
.widget-footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    min-height: 35px;
    padding: 1rem;
}

.module-list_item {
    -webkit-box-align: center;
    grid-column-gap: 12px;
    align-items: center;
    display: grid;
    grid-template-columns: 65px 1fr;
    line-height: 1;
}
.module-list_img {
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid var(--gris);
    border-radius: 3px;
    display: grid;
    height: 65px;
    justify-items: center;
    min-width: 60px;
    width: 60px;

}

.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}


/** Inscripcion Heroes **/

.lnaveg{
    font-size: 2rem;
    margin-top: 19px;
    border-radius:30px;
    background-color: black;
    color: beige;
    padding: 0.4rem;
    text-align: center;
}
.naveg{
    flex-direction: column;
}

#f1{
    width: 85%;
    flex-direction: column;
    flex: auto;
}
#f2{
    font-family: var(--fuenteHeading);
    height:30%;
    width: 55%;
    float: left;
}
.formulario {
    font-family: var(--fuenteHeading);
    background-color: aquamarine;
    padding: 1rem 1rem 0px 1.8rem;
    border: 2px solid rgb(214, 223, 84);
    margin: 1rem 3rem 0 3rem;
    
}
ul{
    list-style-type: square;
  }
.formularios{
    font-family: var(--fuenteHeading);
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
}
.FondoInscrip {
    background-image: url(../img/banner1.webp);
    font-family: var(--fuenteHeading);
    height: 85rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.BotonCred{
    color: red;
    background-color: yellow;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2rem 0 2rem 0;
    border: none;
    width: 100%;
    
}
.CampoText{
    text-align: center;
    width:100%;
    padding: 5px;
}

/*celular a tablet*/ 

@media (min-width:768px){
    .header_texto {
        margin-top: 15rem;
    }
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion {
        display: flex;
        gap: 2rem;
    }
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem; 
    }
    .col-25{
        float: left;
        width: 25%;
    }
    .col-75{
        float: left;
        width: 75%;
    }
    .FondoInscrip {
        height: 45.2rem;
    }
    #f2{
        width: 20%;
    }
    #f1{
        flex-direction: row;
        float: left;
        width: 65%;
        height:40%;
  
    }
    .formularios{
        flex-direction: row;
        display: flex;
        justify-content: space-around;    
    }
    body {
        flex-direction: column;
        min-height: 100vh;
    }

}